<div class="forgot-password-container">
    <div class="card">
      <h2 class="title">Recuperar Senha</h2>
      <form (submit)="sendResetLink(); $event.preventDefault()">
        <div class="form-group">
          <input type="email" [(ngModel)]="email" name="email" placeholder="test@exemplo.com" required>
        </div>
        <button type="submit" class="submit-btn">Enviar Link</button>
      </form>
      <a (click)="goToLogin()" class="back-link" style="cursor: pointer;">Voltar ao Login</a>
    </div>
  </div>