<div class="container mt-4">
    <h2 class="text-center mb-4">Gerenciamento de Usuários</h2>
  
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Nome Completo</th>
          <th>Nome de Usuário</th>
          <th>Email</th>
          <th>Permissão</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.name || 'Sem nome' }}</td> 
          <td>{{ user.username }}</td>
          <td>{{ user.email || 'Sem email' }}</td>
          <td>{{ user.role }}</td>
          <td>
            <button class="btn btn-warning btn-sm" (click)="editUser(user)">
              Editar
            </button>
            <button class="btn btn-danger btn-sm ms-2" (click)="deleteUser(user.id)">
              Excluir
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  